@import "./dist/devices.scss";
@import "./bootstrap_override.scss";

body {
  background-color: #323e47;
}
html,
body,
#root,
.container-fluid {
  height: 100%;
}

.device-iphone-14 .device-frame {
  background-color: #7cbbe7;
  border: 14px solid #101315;
}

.meteo-app {
}

.search-icon {
  cursor: pointer;
  font-size: 1.5rem;
  &:hover {
  }
}

.card-weather {
  border-radius: 30px;
  padding: 15px;
  margin-bottom: 10px;
}
.div_box_research {
  .box_research {
    background-color: #242424;
    border: 0;
    border-radius: 500px;
    color: #fff;
    padding: 6px 6px;
    text-overflow: ellipsis;
    width: 100%;
  }
}
